CLOUDFLARE_ACCOUNT_ID
CLOUDFLARE_D1_DATABASE_ID=3025073a-9e43-4000-b5c9-9e975ed27b7b
CLOUDFLARE_API_TOKEN
BRIGHTDATA_PROXY_HOST
BRIGHTDATA_PROXY_PORT
BRIGHTDATA_PROXY_USER
BRIGHTDATA_PROXY_PASSWORD
RUNNER_LIMIT=500
RUNNER_ASSET_LIMIT=5
RUNNER_CONCURRENCY
RUNNER_MAX_RETRIES
RUNNER_POLL_INTERVAL_SECONDS=1800
RUNNER_DOMAIN_STATE_LIMIT=50
RUNNER_DOMAIN_STATE_MAX_AGE_DAYS=30
RUNNER_PRICING_LIMIT=20
RUNNER_PRICING_TIMEOUT_SECONDS=20
OPENAI_API
OPENAI_API_KEY
OPENAI_PRICING_MODEL=gpt-5.4-mini
OPENAI_PRICING_FALLBACK_MODEL
OPENAI_PRICING_TIMEOUT_SECONDS=45
OPENAI_PRICING_TEXT_CHARS=24000
CLOUDFLARE_BROWSER_RENDERING_ENABLED=0
CLOUDFLARE_BROWSER_RENDERING_API_TOKEN
CLOUDFLARE_BROWSER_RENDERING_TIMEOUT_SECONDS=45
CLOUDFLARE_R2_ACCESS_KEY_ID
CLOUDFLARE_R2_SECRET_ACCESS_KEY
CLOUDFLARE_R2_BUCKET=sitesimgs
R2_PUBLIC_BASE_URL=https://img.sigpik.com
